# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Output Files
outputs/screenshots/*.jpg
outputs/recordings/*.mp4

# Python Cache
.pytest_cache/
